.modal {
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  width: 800px;
  height: 504px;
  border-radius: 40px;
  background-color: #E1D4C9;
}

.modal-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow: hidden;
}

.modal-overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  z-index: 5;
}

.modal-coffee-left {
  padding: 16px 10px 16px 16px;
}

.modal-coffee-right {
  padding: 16px 16px 16px 10px;
}

.modal-coffee-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.modal-coffee-img img {
  width: 340px;
  height: 340px;
}

.h3-modal-coffee {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}

.p-modal-coffee {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

.p-size,
.p-additives {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.modal-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-price,
.p-price-text {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 20px;
}

.modal-offer {
  display: flex;
  align-items: start;
  gap: 8px;
  border-top: 1px solid #C1B6AD;
  padding: 12px 0;
  margin-bottom: 20px;
}

.modal-offer svg {
  width: 16px;
  height: 16px;
}

.p-offer {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 8px 16px 8px 8px;
  background-color: #E1D4C9;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.modal-btn:hover {
  color: #E1D4C9;
  background-color: #665F55;
  transition: all 0.5s ease;
}

.modal-btn:hover > .modal-btn-inner {
  color: #403F3D;
  background-color: #E1D4C9;
  transition: all 0.5s ease;

}

.modal-btn-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #C1B6AD;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
}

.modal-btn-active {
  color: #E1D4C9;
  background-color: #665F55;
  transition: all 0.5s ease;
  /* pointer-events: none; */
}

.modal-btn-inner-active {
  color: #403F3D;
  background-color: #E1D4C9;
  transition: all 0.5s ease;

}

.modal-buttons-hidden {
  display: none;
}

.close-btn {
  position: absolute;
  bottom: 16px;
  width: 438px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

@media (max-width: 768px) {
  .modal {
    width: 688px;
    height: 626px;
  }

  .buttons {
    width: 330px;
    flex-wrap: wrap;
  }

  .close-btn {
    width: 326px;
  }
}

@media (max-width: 381px) {
  .modal {
    width: 342px;
  }

  .modal-coffee-left {
    display: none;
  }

  .modal-price {
    margin-right: 16px;
  }

  .modal-offer {
    padding-right: 16px;
  }

  .close-btn {
    width: 310px;
  }
}