* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    background-color: #E1D4C9;
}